body{
    font-family: 'Roboto Condensed', sans-serif;
  text-align:center;
  height:550px;
  padding-top:3%;
  background:#C5CAE9;}

td{padding:15px;}

table{
  border-spacing: 0px;
  border-collapse: collapse;
  text-align:center;
}

tr:nth-child(even) {background: rgba(255,255,255,0.1);}

.weather{
  display:none;
  border-radius: 2px;
  background:#F44336;
  width:300px;
  color:white;
  margin-right: auto;
  margin-left:auto;
  -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  -moz-box-shadow:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  opacity:0;
}

.icon{
  font-size:40px;
  margin:15px;
}

#celsius,#fahrenheit,.value{
  font-size:18px;
}

.inactive{
  color:rgba(0,0,0,0.5);
}

#celsius,#fahrenheit{  
  cursor:pointer;
}
/*---------------*/

 .loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #F44336;
  background: -moz-linear-gradient(left, #F44336 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #F44336 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #F44336 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #F44336 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #F44336 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #F44336;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #C5CAE9;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
